@model CalromExam.Models.Flight.FlightModel

@{
    ViewBag.Title = "Flights";
}

@{ Html.RenderAction("Index", "MembershipWidget"); } 

<h2>Flights on the air</h2>

<ul>
    @foreach (CalromExam.BL.FlightEntity oneFlightEntity in @Model.FlightEntities)
    {
        Html.RenderPartial("_Flight", oneFlightEntity);
    }
</ul>
