@model CalromExam.Models.Membership.MembershipModel

@{
    ViewBag.Title = "Membership";
}

<h2>Memberships</h2>

<ul style="list-style-type:none">

    @foreach (CalromExam.BL.MembershipEntity oneMembershipEntity in @Model.MembershipEntities)
    {
        <li>
            Id: @oneMembershipEntity.MemberId Name: @oneMembershipEntity.MemberName
        </li>
    }

</ul>