@{
    ViewBag.Title = "Index";
}

<h2>Calrom Exam</h2>

<ul>
    <li>
        @Html.ActionLink("Flights", "", "Flight")
    </li>

    <li>
        @Html.ActionLink("Memberships", "", "Membership")
    </li>


</ul>
