@{
    ViewBag.Title = "Index";
}

<h2>Calrom Exam</h2>

<ul style="list-style-type:none">
    <li>
        @Html.ActionLink("Flights", "", "Flight")     
    </li>

    <li>
        @Html.ActionLink("Memberships", "", "Membership")
    </li>


</ul>
